[submodule "OCRmyPDF"]
	path = OCRmyPDF
	url = git://github.com/gmarchand/OCRmyPDF
[submodule "src/cli-framework"]
	path = src/cli-framework
	url = git@github.com:etopian/php-cli-framework.git
[submodule "src/lib/help"]
	path = src/lib/help
	url = git@gist.github.com:/2e779876637acb1b9102.git
